:root{
  --pixel-size: 2 ;
}

/* Estilos generales minimalistas */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f2f9ea;
    color: #333;
  }
  
.contenedor {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.titulo {
  text-align: center;
  color: #28a745;
}

.subtitulo {
  color: #28a745; 
  margin-top: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 4px;
}

input[type="text"],
input[type="time"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease; /* Añade una transición suave */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
}

button:hover {
  background-color: #218838;
  transform: translateY(-2px); /* Mueve el botón ligeramente hacia arriba */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Aumenta la sombra en hover */
}

button:active {
  transform: translateY(1px); /* Mueve el botón ligeramente hacia abajo al hacer clic */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce la sombra al hacer clic */
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .contenedor {
    max-width: 90%;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.subtitulo a {
  text-decoration: none; /* Elimina el subrayado */
  color: #218838; /* Color de enlace, cámbialo a tu gusto */
  font-weight: bold; /* Texto en negrita */
  padding: 5px 5px; /* Espaciado interno para simular un botón */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: all 0.3s ease; /* Transición suave */
}

.subtitulo a:hover {
  background-color: #218838; /* Color de fondo al pasar el ratón */
  color: white; /* Color del texto al pasar el ratón */
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
}




.nivel-habito {
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 1.2em;   /* Ajusta el tamaño de fuente si es necesario */
  margin-top: 10px;   /* Ajusta el margen superior si es necesario */
}

.imagen-habito {
  display: block;
  margin: 0 auto;
  
  margin-bottom: 20px; /* Añade un margen inferior */
  width: calc(160px * var(--pixel-size)); /* Width of a single bonsai */
  /* background-color: wheat; */
  overflow: hidden;
}


/* .bonsai-spritesheet {
  width: calc(160px * 10 * var(--pixel-size));
  image-rendering: pixelated;

} */

.bonsai-spritesheet {

  width: calc(160px * 11 * var(--pixel-size));
  height: calc(160px * var(--pixel-size));
  image-rendering: pixelated;
  /* background-image: url(../images/bonsai160x160.png);  Set the sprite sheet as the background */
  background-image: url(../../public/images/bonsai\ nivel\ 0-10\ 160x160.png);  /*Set the sprite sheet as the background */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: 100%;
  /* background-color: aquamarine; */
  
}


/* Habitos.css */

.react-calendar-heatmap .color-empty { /* Para los días sin cumplir */
  fill: #ebebeb; /* Gris claro */
}

.react-calendar-heatmap .color-filled { /* Para los días cumplidos */
  fill: #4caf50; /* Verde */
}
.react-calendar-heatmap {
  width: 1000px;
  font-size: 10px ;
  
}

.heatmap-container{
  width: 100%; /* O un valor fijo en píxeles */
  overflow-x: auto;
  scroll-snap-align: end
}

.popup-notificaciones {
  position: fixed; /* Para que se superponga al contenido */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de todo */
}

.popup-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

@media screen and (min-width: 768px) {
  :root {
    --pixel-size: 3;
  }
  
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
  
}


